<h1>Listing Ingreso Manual A Stocks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingreso_manual_a_stocks.each do |ingreso_manual_a_stock| %>
      <tr>
        <td><%= ingreso_manual_a_stock.fecha %></td>
        <td><%= link_to 'Show', ingreso_manual_a_stock %></td>
        <td><%= link_to 'Edit', edit_ingreso_manual_a_stock_path(ingreso_manual_a_stock) %></td>
        <td><%= link_to 'Destroy', ingreso_manual_a_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingreso manual a stock', new_ingreso_manual_a_stock_path %>
