<% if !@consumos_directo.nil? && @consumos_directo.length > 0 %>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>número</th>
      <th>Area</th>
      <th>Obra proyecto</th>
      <th>Origen</th>
      <th>Recepción número</th>
      <th span= "2"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumos_directo.each do |consumo_directo| %>
      <tr>
        <td><%= consumo_directo.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= consumo_directo.id %></td>
        <td><%= consumo_directo.area.nombre %></td>
        <td><%= consumo_directo.obra_proyecto.descripcion %></td>
        <td><%= consumo_directo.recepciones_de_bien_de_consumo[0] ? "Desde recepción" : "Manual"  %></td>
        <td><%= consumo_directo.recepciones_de_bien_de_consumo[0] ? consumo_directo.recepciones_de_bien_de_consumo[0].id : ""  %></td>
        <td></td>
        <td><%= link_to 'Ver', consumo_directo_path(consumo_directo.id) %></td> 
        <td><%= link_to 'Eliminar', consumo_directo, method: :delete, data: { confirm: '¿Estas seguro?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @consumos_directo, renderer: BootstrapPagination::Rails%>
<br>
<% end %>
