<%= form_for(@consumo_directo, 
             url:    nuevo_consumo_consumos_directo_path  , 
             html: { method: "post",  :id => "nuevo_consumo"} ) do |f| %>
  <% if @consumo_directo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumo_directo.errors.count, "error/es") %> prohibe/en que el ingreso sea salvado</h2>
      <ul>
      <% @consumo_directo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field" id="impresion">        
  </div> 

  <div class="field">    
    <%= f.label :fecha %><br />
    <%= f.text_field :fecha %>  
  </div> 

  <div class="field">
      <%= label :area , "Area origen" %><br /> 
      <%= collection_select(:area_origen, "area_id", @areas, "id", "nombre", :include_blank => "Seleccione un area...") %>
  </div>

  <div class="field">
    <%= label :deposito, "Deposito origen" %> <br />     
    <%= grouped_collection_select(:consumo_directo_deposito, :deposito_id, @areas, :depositos, :nombre, :id, :nombre, :include_blank => " Seleccione un deposito...") %>
  </div>         
  
  <div class="field">
    <%= f.label :responsable %> <br /> 
    <%= text_field_tag :responsable, nil, readonly: true%>  
  </div> 

<div class="row">
  <div class="col-md-3">      
    <h3> Buscar por nombre </h3>   
    <div class="field">
         <%= f.label :nombre%><br>  
      </div>   
      <div class="field">
          <%= autocomplete_field_tag 'consumo_directo_nombre', '', autocomplete_bien_de_consumo_nombre_items_stock_path , :size => 75 %>
      </div>  
  </div>  
  <div class="col-md-3">      
      <h3> Ingresar codigo </h3>   
    <div class="field">
      <%= f.label :codigo%><br>
      <%= text_field_tag :codigo %>
    </div>  
    <div class="field">
        <input type="button" value="Traer Bien de Consumo" class="" id="traer_bien_de_consumo_y_cantidad_stock">            
    </div>    
  </div>

  <div class="col-md-3">        
    <h3> Seleccionar arbol </h3>            
      <div class="field"> 
      <%= label_tag :clase, "Clase" %><br>
      <%= collection_select(:categoria, "clase_id", Clase.joins(:partida_parcial => [:partida_principal]).where("clases.fecha_de_baja IS NULL").order("partidas_principales.codigo").order("partidas_parciales.codigo").order("clases.codigo"), "id", "combinar_codigo_nombre", :include_blank => "Seleccione...") %> 
           
      </div>    
      <div class="field">     
        <%= label_tag :bien_de_consumo, "Bien de consumo" %><br>
        <%= grouped_collection_select(:consumos_directo, :bien_de_consumo_id, Clase.where("fecha_de_baja IS NULL"), :bienes_de_consumo, :nombre, :id, :nombre, :include_blank => " Seleccione...") %>
      </div>
  </div>      
</div>        


   <div class="field">
    <%= f.label :cantidad_stock, "Cantidad en stock" %><br>
    <%= text_field_tag :cantidad_stock , nil, readonly: true %>          
  </div>  

   <div class="field">
    <%= f.label :cantidad_a_consumir, "Cantidad a consumir" %><br>
    <%= text_field_tag :cantidad_a_consumir %><br>          
    <input type="button" value="Agregar" class="" id="agregar_bien_a_consumir">        
  </div>    
  <div>
       <%= hidden_field(:bien_de_consumo, :id)  %>
  </div>
   
  <div class="panel panel-default">
  <div class="panel-heading">Bienes a consumir</div>
  <table id="bienes_table" class="table">
  <thead>
  <tr>            
    <th style="display:none;">Id</th>
    <th style="display:none;">DepoId</th> 
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Deposito</th>
    <th>Cantidad en stock</th>
    <th>Cantidad a consumir</th>    
    <th>Unidad</th>
    <th>Accion</th>
  </tr>
  </thead>
  <tbody>        

  </tbody>
  </table>
  </div>
  <div style="text-align: right;">
    <input type="button" value="Eliminar todos" class="" id="eliminar_todos_los_bienes"> 
  </div>

   <div class="field">
    <%= label :area, "Area destino" %><br /> 
    <%= f.collection_select :area_id, @areas, :id, :nombre, :prompt => "seleccione un area" %>     
  </div>

  <div class="field">
    <%= f.label :obra_proyecto%> <br /> 
    <%= f.collection_select :obra_proyecto_id, @obras_proyecto, :id, :descripcion, :prompt => "seleccione una obra" %>  
  </div>

  <div class="actions">
    <%= f.submit "Aceptar", class: "consumo_submit"%>  
  </div>
<% end %>
