<h1>Consumos realizados (Inmediatos y por seleccion)</h1>

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>número</th>
      <th>Area</th>
      <th>Obra proyecto</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumos_directo.each do |consumo_directo| %>
      <tr>
        <td><%= consumo_directo.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= consumo_directo.id %></td>
        <td><%= consumo_directo.area.nombre %></td>
        <td><%= consumo_directo.obra_proyecto.descripcion %></td>
        <td><%= link_to 'Ver', consumo_directo %></td>
        <td><%= link_to 'Imprimir', imprimir_formulario_consumos_directo_path(consumo_directo), method: :post, data: { confirm: '¿Esta seguro?' }  %>        
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
