<%= form_for(@recepcion_de_bien_de_consumo , 
          url: save_bienes_recepciones_de_bien_de_consumo_path(@recepcion_de_bien_de_consumo), 
      html: {method: "put"}) do |f| %>

  <% if @recepcion_de_bien_de_consumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recepcion_de_bien_de_consumo.errors.count, "error") %> prohibited this recepcion_de_bien_de_consumo from being saved:</h2>      
      <ul>
      <% @recepcion_de_bien_de_consumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= text_field_tag :codigo %>
    <%= link_to 'Buscar', "#buscar_bien" %>
  </div>  

  <div class="field">
    <%= f.label :nombre %><br>
    <%= text_field_tag :nombre %>
  </div>  

  <div class="field">
    <%= f.label :cantidad %><br>
    <%= text_field_tag :cantidad %>
  </div>  

  <div class="field">
    <%= f.label :costo %><br>
    <%= text_field_tag :costo %>
  </div>  

    <div class="field">
    <%= label(:costoTotal ,"costo total") %><br>
    <%= text_field_tag :costoTotal %>
  </div>  

   <table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Item</th>     
      <th>Canitdad </th>
      <th>Costo </th>
    </tr>
  </thead>
  <tbody>
    <% if @recepcion_de_bien_de_consumo %>
      <% @recepcion_de_bien_de_consumo.bienes_de_consumo_de_recepcion.each do |doc_secundario| %>
        <tr>
          <td> E34 </td>
          <td> Tira de Madera 45cm </td>                        
          <td> 34 </td>                        
          <td> 145 </td>                        
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table> 

  <div class="actions">
    <%= f.submit %>
  </div> 
<% end %>


