<%= form_for(@recepcion_de_bien_de_consumo) do |f| %>
  <% if @recepcion_de_bien_de_consumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recepcion_de_bien_de_consumo.errors.count, "error") %> prohibited this recepcion_de_bien_de_consumo from being saved:</h2>

      <ul>
      <% @recepcion_de_bien_de_consumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= text_field_tag :codigo %>
    <%= link_to 'Buscar', "#buscar_bien" %>
  </div>  

  <div class="field">
    <%= f.label :cuenta %><br>
    <%= text_field_tag :cuenta %>
  </div>  

    <div class="field">
    <%= f.label :descripcion_adicional %><br>
    <%= text_field_tag :descripcion_adicional %>
  </div>  

      <div class="field">
    <%= f.label :cantidad %><br>
    <%= text_field_tag :cantidad %>
  </div>  

  <div class="field">
    <%= f.label :costo %><br>
    <%= text_field_tag :costo %>
  </div>  

   <table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Item</th>     
      <th>Canitdad </th>
      <th>Costo </th>
    </tr>
  </thead>

  <tbody>
    <% @recepcion_de_bien_de_consumo.documentos_secundario.each do |doc_secundario| %>
      <tr>
        <td> E34 </td>
        <td> Tira de Madera 45cm </td>                        
        <td> 34 </td>                        
        <td> 145 </td>                        
      </tr>
    <% end %>
  </tbody>
</table> 

<!--   <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>


