<h1>Recepciones de bien de consumo</h1>

<table class="table">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Descripcion provisoria</th>
      <th>Tipo de Documento</th>
      <th>Documento principal</th>
      <th colspan="4"> </th>
    </tr>
  </thead>

  <tbody>
    <% @recepciones_de_bien_de_consumo.each do |recepcion_de_bien_de_consumo| %>      
      <tr>
        <td><%= recepcion_de_bien_de_consumo.id %></td>
        <td><%= recepcion_de_bien_de_consumo.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= RecepcionDeBienDeConsumo::ESTADOS.key(recepcion_de_bien_de_consumo.estado)%></td>
        <td><%= recepcion_de_bien_de_consumo.descripcion_provisoria %></td>

      <% if (recepcion_de_bien_de_consumo.documento_principal) %>
        <td><%= recepcion_de_bien_de_consumo.documento_principal.documento_de_recepcion.tipo_de_documento.nombre %></td>
        <td><%= recepcion_de_bien_de_consumo.documento_principal.documento_de_recepcion.numero_de_documento %></td>
        <% else %>
        <td></td>
        <td></td>
      <% end %>      
        <td><%= link_to 'Ver', recepcion_de_bien_de_consumo %></td>        
        <td><%= link_to 'Modificar', edit_recepcion_de_bien_de_consumo_path(recepcion_de_bien_de_consumo) %></td>
        <td><%= link_to 'Eliminar', recepcion_de_bien_de_consumo , method: :delete, data: { confirm: '¿Esta seguro?' } %> </td>
        <td><%= link_to 'Enviar a evaluar', enviar_a_evaluar_recepciones_de_bien_de_consumo_path(recepcion_de_bien_de_consumo) , data: { confirm: '¿Esta seguro?' } %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Recepcion', new_recepcion_de_bien_de_consumo_path %>
