<h1>Recepcion de bien de consumo</h1>
  <div class="row">
    <div class="col-md-3">  
    <p>
      <strong>Recepcion numero:</strong>
      <%= @recepcion_de_bien_de_consumo.id %>
    </p>

    <p>
      <strong>Fecha:</strong> 
      <%= @recepcion_de_bien_de_consumo.fecha.strftime("%d/%m/%Y") %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= RecepcionDeBienDeConsumo::ESTADOS.key(@recepcion_de_bien_de_consumo.estado)%>
    </p>
  </div>
    <div class="col-md-3">  
      <p>
      <strong>Detalle:</strong>
      <%= @recepcion_de_bien_de_consumo.descripcion_provisoria %>
      </p> 
    </div>  
   </div> 

<% if !@recepcion_de_bien_de_consumo.descripcion_provisoria %>
  <p>
  <strong>Descripcion provisoria:</strong>
  <%= @recepcion_de_bien_de_consumo.descripcion_provisoria %>
  </p>    
<% end %>
</br>
<div class="panel panel-default">
   <div class="panel-heading">Documento principal</div>
<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>numero</th>
    </tr>
  </thead>
  <tbody>    
      <tr>      	
        <td><%= @recepcion_de_bien_de_consumo.documento_principal.documento_de_recepcion.tipo_de_documento.nombre %></td>
        <td><%= @recepcion_de_bien_de_consumo.documento_principal.documento_de_recepcion.numero_de_documento %></td>
      </tr>    
  </tbody>
</table>
</div>

  <div class="panel panel-default">
   <div class="panel-heading">Documentos secundarios</div>
<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>numero</th>
    </tr>
  </thead>
  <tbody>
  	<% if @recepcion_de_bien_de_consumo.documentos_secundario.any? %>
        <% @recepcion_de_bien_de_consumo.documentos_secundario.each do |doc_secundario| %>
        <% if doc_secundario.documento_de_recepcion %>
      	     <tr>      	          
        	     <td><%= doc_secundario.documento_de_recepcion.tipo_de_documento.nombre %> </td>
        	     <td><%= doc_secundario.documento_de_recepcion.numero_de_documento %> </td>        
      	     </tr>    
        <% end %>
    <%end%>
    <% else %>
      	<tr>      	
        	<td></td>
        	<td></td>
      	</tr>    
   	<% end %>      
  </tbody>
</table>
</div>

<div class="panel panel-default">
<div class="panel-heading">Bienes de consumo</div>
<table class="table">
  <thead>
    <tr>
      <th>Clase</th>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Cantidad</th>
      <th>Costo</th>
    </tr>
  </thead>
  <tbody>
    <% if @recepcion_de_bien_de_consumo.bienes_de_consumo_de_recepcion.any? %>
        <% @recepcion_de_bien_de_consumo.bienes_de_consumo_de_recepcion.each do |bcr| %>
        <tr>        
          <td><%= bcr.bien_de_consumo.clase.nombre %> </td>
          <td><%= bcr.bien_de_consumo.nombre %> </td>
          <td><%= obtener_codigo_completo_bien_de_consumo(bcr.bien_de_consumo.nombre) %> </td>
          <td><%= bcr.cantidad %> </td>
          <td><%= bcr.costo %> </td>
        </tr>    
        <%end%>
    <% else %>
        <tr>        
          <td></td>
          <td></td>
        </tr>    
    <% end %>      
  </tbody>
</table>
</div>
<br />
  <div>
    <td><%= link_to 'Imprimir', recepciones_de_bien_de_consumo_en_stock_imprimir_detalle_recepcion_path(@recepcion_de_bien_de_consumo.id) %></td>
  </div>

<%= link_to 'Volver', session.delete(:return_to) %>
