<h1>Recepciones Finalizadas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Detalle</th>
      <th>Tipo de Documento</th>
      <th>Documento principal</th>
      <th>Consumo generado</th>
      <th colspan="1"> </th>
    </tr>
  </thead>

  <tbody>
    <% @recepciones_de_bien_de_consumo.each do |recepcion_de_bien_de_consumo| %>      
      <tr>
        <td><%= recepcion_de_bien_de_consumo.id %></td>
        <td><%= recepcion_de_bien_de_consumo.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= RecepcionDeBienDeConsumo::ESTADOS.key(recepcion_de_bien_de_consumo.estado)%></td>
        <td><%= recepcion_de_bien_de_consumo.descripcion_provisoria %></td>
        <td><%= recepcion_de_bien_de_consumo.documento_principal.documento_de_recepcion.tipo_de_documento.nombre   %> </td> 
        <td><%= recepcion_de_bien_de_consumo.documento_principal.documento_de_recepcion.numero_de_documento %> </td>   
        <td><%= genero_un_consumo_directo?(recepcion_de_bien_de_consumo.id) ? RecepcionParaConsumoDirecto.where("recepcion_de_bien_de_consumo_id = ?", recepcion_de_bien_de_consumo.id).first.consumo_directo.id : "" %></td>
        <td><%= link_to 'Ver', recepcion_de_bien_de_consumo %></td>            
      </tr>
    <% end %>
  </tbody>
</table>

<br>