<h1>Evaluación</h1>

<div id="div_rechazar_recepcion" style="display:none" title="Rechazar Recepcion"></div>

<table class="table">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Fecha</th>      
      <th>Tipo de Documento</th>
      <th>Documento principal</th>
      <th colspan="2"> </th>
    </tr>
  </thead>

  <tbody>
    <% @recepciones_de_bien_de_consumo.each do |recepcion_de_bien_de_consumo| %>      
    <tr>
      <td><%= recepcion_de_bien_de_consumo.id %></td>
      <td><%= recepcion_de_bien_de_consumo.fecha.strftime("%d/%m/%Y") %></td>        
      <% if (recepcion_de_bien_de_consumo.documento_principal) %>
        <td><%= recepcion_de_bien_de_consumo.documento_principal.documento_de_recepcion.tipo_de_documento.nombre %></td>
        <td><%= recepcion_de_bien_de_consumo.documento_principal.documento_de_recepcion.numero_de_documento %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>             
       <td><%= link_to 'Ingresar a stock',  recepciones_de_bien_de_consumo_a_evaluar_items_stock_path(recepcion_de_bien_de_consumo), method: :post, data: { confirm: '¿Esta seguro?' }  %>
       </td>
       <td><%= link_to 'Consumo inmediato', nuevo_consumo_directo_desde_recepcion_consumos_directo_path(:recepcion_id => recepcion_de_bien_de_consumo.id), data: { confirm: '¿Esta seguro?' } %>
       </td>
        <td><%= link_to 'Transferencia inmediata', nueva_transferencia_desde_recepcion_transferencias_path(:recepcion_id => recepcion_de_bien_de_consumo.id), data: { confirm: '¿Esta seguro?' }  %>
       </td>
       <td><%= link_to 'rechazar', ver_rechazar_recepciones_de_bien_de_consumo_a_evaluar_path(recepcion_de_bien_de_consumo) , data: { confirm: '¿Esta seguro?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
