<%= form_for(@clase) do |f| %>
  <% if @clase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clase.errors.count, "error/es") %> La clase no puso ser guardada:</h2>

      <ul>
      <% @clase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-4">  
    <div class="field">
        <%= f.label :partida_parcial%><br /> 
        <%= f.collection_select :partida_parcial_id, @partidas_parciales, :id, "combinar_codigo_nombre", :prompt => "seleccione..." %>  
    </div>
    <div class="field">
      <%= f.label :codigo, "Codigo (5 caracteres)" %><br>
      <%= f.text_field :codigo %>
    </div>
    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_area :nombre %>
      <input type="button" value="Buscar similares" id="buscar_nombres_repetidos">   
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  <div class="col-md-4">          
    <div class="field">
       <%= label :partida_parcial, "Partida parcial (nombre)" %> <br />   
    </div>   
    <div class="field">
        <%= autocomplete_field_tag 'partida_parcial_nombre', '', autocomplete_partida_parcial_nombre_partidas_parciales_path , :size => 75 %>
    </div> 

    <div id="titulo"> </div> 
    <div id="tabla_items_existentes"> </div>   
  </div> 
   </div>

<% end %>
