<h1>Lista de Clases</h1>

<table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Partida parcial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clases.each do |clase| %>
      <tr>
        <td><%= clase.codigo %></td>
        <td><%= clase.nombre %></td>
        <td><%= clase.partida_parcial.nombre %></td>
        <td><%= link_to 'Ver', clase %></td>
        <td><%= link_to 'Modificar', edit_clase_path(clase) %></td>
        <td><%= link_to 'Eliminar', clase, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Clase', new_clase_path %>
