<h1>Lista de Clases</h1>

<div class="row">  
  <br />
  <div class="span6 offset3">   
    <div> 
      <div class="field">
        <%= label_tag 'Clase' %>
        <%= autocomplete_field_tag 'clase_nombre_all_clases', '',  autocomplete_clase_nombre_traer_todas_las_clases_clases_path, :size => 75 %>
        <input type="button" value="Buscar" id="traer_clase_por_id"> 
      </div>  
      <%= hidden_field_tag 'clase_id' %>
    </div>

    <div id="tabla_todas_las_clases">    
      <%= render 'tabla_lista_de_clases' %>       
    </div>   
   </div>
  
</div> 

<%= link_to 'Nueva Clase', new_clase_path %>
