<h1>Clase</h1>

<p>
  <strong>Codigo:</strong>
  <%= @clase.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @clase.nombre %>
</p>

<p>
  <strong>Partida parcial:</strong>
  <%= @clase.partida_parcial.nombre %>
</p>

<%= link_to 'Modificar', edit_clase_path(@clase) %> |
<%= link_to 'Volver', session.delete(:return_to) %>


