<h1>Lista de Clases da dadas de baja</h1>

<table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Partida parcial</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @clases.each do |clase| %>
      <tr>
        <td><%= obtener_codigo_de_clase(clase.id) %></td>
        <td><%= clase.nombre %></td>
        <td><%= clase.partida_parcial.nombre %></td>
        <td><%= link_to 'Ver', clase %></td>              
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @clases, renderer: BootstrapPagination::Rails %>
<br>
