
<%= form_for(@item_stock) do |f| %>
  <% if @item_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_stock.errors.count, "error") %> Los items no pudieron ser ingresados a stock:</h2>
      <ul>
      <% @item_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= label :deposito, :area %><br />       
    <%= grouped_collection_select(:deposito, :deposito_id, @areas, :depositos, :nombre, :id, :nombre) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
