<% if !@bienes_de_consumo_de_recepcion.nil? && @bienes_de_consumo_de_recepcion.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>     
      <th>Numero</th> 
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Valor</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @bienes_de_consumo_de_recepcion.each do |bien_de_consumo_para_recepcion| %>      
        <tr>
          <td><%= bien_de_consumo_para_recepcion.recepcion_de_bien_de_consumo.fecha.strftime("%d/%m/%Y") %></td>        
          <td><%= bien_de_consumo_para_recepcion.recepcion_de_bien_de_consumo.id %></td>
          <td><%= obtener_codigo_completo_bien_de_consumo(bien_de_consumo_para_recepcion.bien_de_consumo.nombre) %></td>
          <td><%= bien_de_consumo_para_recepcion.bien_de_consumo.nombre %></td>
          <td><%= bien_de_consumo_para_recepcion.cantidad %></td>
          <td><%= bien_de_consumo_para_recepcion.costo %></td>
          <td><%= bien_de_consumo_para_recepcion.cantidad * bien_de_consumo_para_recepcion.costo %></td>   
        </tr>
      <% end %>
      <% if(@bienes_de_consumo_de_recepcion.length > 0) %>              
          <td><%= link_to 'Imprimir', imprimir_formulario_recepciones_finalizadas_por_fecha_path(@bienes_de_consumo_de_recepcion.first().fecha_inicio_impresion, @bienes_de_consumo_de_recepcion.first().fecha_fin_impresion) , method: :post, data: { confirm: '¿Esta seguro?' }  %>        
          </td>   
      <% end %>
  </tbody>
</table>
<% end %>