
<h1>Recepciones de bien de consumo finalizadas por Documento principal (altas de stock, consumo directo, y transferencia) </h1>

<div class="row">
  <form class="navbar-form navbar-left" role="search">    
    <div class="form-group">    
      <div class"field">
        <%= label_tag 'seleccione un rango de fechas'%>  
      </div>
      <br />
      <div class"field">
        <%= label :fecha_inicio, "Desde" %>
      </div>
      <div class"field">
        <%= text_field_tag :fecha_inicio, nil, readonly: true %>  
      </div>
      <div class"field">
      <%= label :fecha_fin, "Hasta" %>
      </div>
      <div class"field">
      <%= text_field_tag :fecha_fin, nil, readonly: true %>        
      </div>
    </div>
  </form>  
</div> 
<br />
<div class="field">
   <%= label :doc_principal,"Documento principal" %>     
</div>
<div class="field">
  <%= text_field_tag :documento_principal %>  
</div> 

<div>
  <%= hidden_field_tag 'documento_principal_id' %>  
</div>

<div class="field">
  <input type="button" value="Obtener" class="" id="traer_recepciones_fecha">        
</div>

<div id="tabla_recepciones" >
  <%= render 'form_tabla_recepciones_de_bien' %>
</div>
