<h1>Depositos</h1>
<% if @inciso.errors.any? %>
    <div id="error_explanation">      
      <ul>
      <% @inciso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depositos.each do |deposito| %>
      <tr>
        <td><%= deposito.nombre %></td>
        <td><%= deposito.area.nombre %></td>
        <td><%= link_to 'Ver', deposito %></td>
        <td><%= link_to 'Modificar', edit_deposito_path(deposito) %></td>
        <td><%= link_to 'Eliminar', deposito, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
