<h1>Clases dadas de baja y sus reemplazos</h1>

<table class="table">
<thead>  	
		<tr>     				
			<th> Clases dadas de baja</th>         						      								
			<th></th>      
			<th> Clases dadas de alta</th>    
		</tr>       
		<tr>    				
			<th>Codigo</th>      
			<th>Nombre</th> 
			<th>Codigo</th>
			<th>Nombre</th>     
		</tr>
</thead>

  <tbody>
    <% @reemplazos_clase.each do |reemplazo| %>
      <tr>
        <td><%= reemplazo.clase_vieja.codigo %></td>
        <td><%= reemplazo.clase_vieja.nombre %></td>     
        <td><%= reemplazo.clase_nueva.codigo %></td>
        <td><%= reemplazo.clase_nueva.nombre %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva asociacion', new_reemplazo_clase_path %>

