<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @persona.apellido %>
</p>

<%= link_to 'Modificar', edit_persona_path(@persona) %> |
<%= link_to 'Volver', personas_path %>
