<h3> Agregar Bien de consumo </h3>
<br />
<%= form_for(@bien_de_consumo) do |f| %>
  <% if @bien_de_consumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bien_de_consumo.errors.count, "error") %> el Bien no pudo ser agregado:</h2>

      <ul>
      <% @bien_de_consumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :clase%><br /> 
    <%= f.collection_select :clase_id, @clases, :id, :nombre, :prompt => "seleccione..." %>  
  </div>
  <div class="field">
    <%= f.label :codigo, "Codigo (4 caracter)" %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_area :nombre %>
  </div>
  <div class="field">
    <%= f.label :unidad_de_medida %><br>
    <%= f.text_field :unidad_de_medida %>
  </div>
  <div class="field">
    <%= f.label :detalle_adicional %><br>
    <%= f.text_area :detalle_adicional %>    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>