<h1>Lista de Items</h1>

<div class="row">  
  <br />
  <div class="span6 offset3">   
	  <div> 
	    <div class="field">
	      <%= label_tag 'Bien de consumo' %>
	      <%= autocomplete_field_tag 'bien_de_consumo_nombre', '',   autocomplete_bien_de_consumo_nombre_traer_todos_los_items_bienes_de_consumo_path, :size => 75, :update_elements => {},  :placeholder => "Buscar item....." %>
	    	<input type="button" value="Buscar" id="traer_item_por_id"> 
	    	<input type="button" value="Quitar filtro" id="traer_todos_los_items"> 
	    </div>  
	    <%= hidden_field_tag 'bien_de_consumo_id' %>
	  </div>

	  <div id="tabla_all_items">    
	    <%= render 'tabla_lista_de_items' %>       
	  </div>   
	 </div>
  
</div> 

<%= link_to 'Nuevo Item', new_bien_de_consumo_path %>
 <td><%= link_to 'Imprimir',  imprimir_listado_de_items_bienes_de_consumo_path, method: :post, data: { confirm: '¿Esta seguro?' }  %>   


