<h1>Lista de Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Clase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bienes_de_consumo.each do |bien_de_consumo| %>
      <tr>
        <td><%= obtener_codigo_completo_bien_de_consumo(bien_de_consumo.nombre) %></td>
        <td><%= bien_de_consumo.nombre %></td>
        <td><%= bien_de_consumo.clase.nombre %></td>
        <td><%= link_to 'Ver', bien_de_consumo %></td>
        <td><%= link_to 'Modificar', edit_bien_de_consumo_path(bien_de_consumo) %></td>                
       <td><%= link_to 'Dar de baja', bien_de_consumo, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
       <td><%= link_to 'Dar de baja y reemplazar', traer_vista_dar_de_baja_y_reemplazar_bienes_de_consumo_path(bien_de_consumo), data: { confirm: '¿Estas seguro?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Item', new_bien_de_consumo_path %>
