<h1>Alta de categorias de bien de consumo</h1>

<div class="field"> Seleccione una cetegoria </div>

<div class="field">	
 	<%= collection_select(:categoria, "inciso_id", @incisos, "id", "nombre", :include_blank => "Seleccione...") %>  
 	<input type="button" value="Agregar" class="button" id="traer_vista_de_inciso">    
</div> 

<div class="field">			
  <%= grouped_collection_select(:categoria, :partida_principal_id, @incisos, :partidas_principales, :nombre, :id, :nombre, :include_blank => " Seleccione...") %>
  <input type="button" value="Agregar" class="" id="traer_vista_de_partida_principal">  
</div> 

<div class="field">			
  <%= grouped_collection_select(:categoria, :partida_parcial_id, @partidas_principales, :partidas_parciales, :nombre, :id, :nombre, :include_blank => " Seleccione...") %>
  <input type="button" value="Agregar" class="" id="traer_vista_de_partida_parcial">  
</div> 

<div class="field">			
  <%= grouped_collection_select(:categoria, :clase_id, @partidas_parciales, :clases, :nombre, :id, :nombre, :include_blank => " Seleccione...") %>
  <input type="button" value="Agregar" class="" id="traer_vista_de_clase">  
</div>  

<div class="field">			
  <%= grouped_collection_select(:categoria, :bien_de_consumo_id, @clases, :bienes_de_consumo, :nombre, :id, :nombre, :include_blank => " Seleccione...") %>
  <input type="button" value="Agregar" class="" id="traer_vista_de_bien_de_consumo">  
</div>  

<br />
<br />

<div id="form_categoria">    
  
</div> 