<nav class="navbar navbar-fixed-top">
    <div class='navbar-inner'>
      <ul class="nav nav-tabs" role="tablist">
      <% if current_user %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Acciones <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Recepciones vigentes", recepciones_de_bien_de_consumo_path %></li>
            <li><%= link_to "Recepciones rechazadas", ver_rechazadas_recepciones_de_bien_de_consumo_path %></li>
            <li><%= link_to "Evaluación", recepciones_de_bien_de_consumo_a_evaluar_index_path %></li>
            <li><%= link_to "Nuevo Consumo",   nuevo_consumo_consumos_directo_path    %></li>
            <li><%= link_to "Nueva Transferencia", nueva_transferencia_transferencias_path  %></li>
            <li><%= link_to "Ingreso manual a stock", new_item_stock_path  %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Reportes <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Recepciones finalizadas.",  ver_recepciones_finalizadas_por_fecha_por_recepcion_recepciones_de_bien_de_consumo_en_stock_index_path  %></li>
            <li><%= link_to "Recepciones finalizadas por documento ppal.", recepciones_de_bien_de_consumo_en_stock_index_path %></li>
            <li><%= link_to "Recepciones finalizadas por bien de consumo", ver_recepciones_finalizadas_por_bien_de_consumo_y_fecha_recepciones_de_bien_de_consumo_en_stock_index_path %></li>
            <li><%= link_to "Altas de Bienes de Consumo", ver_recepciones_finalizadas_por_fecha_recepciones_de_bien_de_consumo_en_stock_index_path    %></li>
            <li><%= link_to "Stock total",items_stock_path %></li>
            <li><%= link_to "Stock total con subtotal por partida parcial",  ver_stock_con_subtotal_por_pp_items_stock_path  %></li>
            <li><%= link_to "Stock por fecha",reportes_a_fecha_path %></li>
            <li><%= link_to "Registro de ingresos a stock manualmente", registro_ingreso_manual_index_path %></li>
            <li><%= link_to "Items consumidos por destino y clase",ver_consumos_por_fecha_destino_y_clase_consumos_directo_path %></li>
            <li><%= link_to "Consumos por Bien, Destino y Fecha ",ver_consumos_por_codigo_destino_fecha_consumos_directo_path %></li>
            <li><%= link_to "Consumos por Obra Proyecto",  ver_consumos_por_obra_proyecto_y_fecha_consumos_directo_path  %></li>
            <li><%= link_to "Consumos por Partida parcial, Destino y Fecha ", ver_consumos_por_partida_parcial_destino_fecha_consumos_directo_path %></li>
            <li><%= link_to "Consumos", consumos_directo_path %></li>
            <li><%= link_to "Consumos dados de baja", ver_dados_de_baja_consumos_directo_path %></li>
            <li><%= link_to "Tranferencias", transferencias_path  %></li>

            <li><%= link_to "Items dados de baja",  ver_items_dados_de_baja_bienes_de_consumo_path %></li>
            <li><%= link_to "Clases dadas de baja",  ver_clases_dadas_de_baja_clases_path  %></li>



            <li><a href="#">Por tipo de Consumo</a></li>
            <li><a href="#">Por stock total en pesos</a></li>
            <li><a href="#">Logs de auditoría</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Datos Fijos <span class="caret"></span>
          </a>
          <ul class="dropdown-menu multi-level" role="menu">
            <li class="menu-item dropdown dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Arbol de items</a>
              <ul class="dropdown-menu">
                  <li><%= link_to "Incisos", incisos_path %></li>
                  <li><%= link_to "Partidas principales", partidas_principales_path %></li>
                  <li><%= link_to "Partidas parciales", partidas_parciales_path %></li>
                  <li><%= link_to "Clases", clases_path %></li>
                  <li><%= link_to "Items", bienes_de_consumo_path %></li>
                  <li class="menu-item dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reemplazos</a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Reemplazos Clases", reemplazo_clase_index_path %></li>
                        <li><%= link_to "Reemplazos Items", reemplazo_bdc_index_path %></li>
                    </ul>
                  </li>
              </ul>
            </li>
            <li><%= link_to "Obra / proyecto", obras_proyectos_path %></li>
            <li><%= link_to "Areas / Deposito", areas_path %></li>
          </ul>
        </li>

        <li>
          <a href="/items_stock/ver_stock_minimo_superado" >
            Items con stock faltante
            <span class="badge"><%= traer_cantidad_de_items_con_stock_bajo %></span>
          </a>
        </li>
        <li>
            <% if EtiquetaDeImplementacion.nil? && EtiquetaDeImplementacion.all.first.descripcion == "PRODUCCION"  %>
                <h5><span class="etiqueta_produccion">  <%="#{EtiquetaDeImplementacion.all.first.descripcion unless EtiquetaDeImplementacion.nil? }" %> </span> </h5>
             <% else %>
                <h5><span class="etiqueta_testing">  <%="#{EtiquetaDeImplementacion.all.first.descripcion unless EtiquetaDeImplementacion.nil? }" %> </span> </h5>
             <% end %>
        </li>
      <% end %>

          <div class="navbar-form navbar-right" >
            <% if current_user %>
                <%="Conectado como: "%> <strong> <%= "#{current_user.name}" %> </strong> <%="-"%> <%= link_to "salir del sistema", session_path(current_user), method: :delete %>
            <% else %>
                  <%= form_for(:session, url: sessions_path) do |f| %>
                    <%= f.label :email %>
                    <%= f.text_field :email,{ :size => "45x10" } %>
                    <%= f.label :password %>
                    <%= f.password_field :password,{ :size => "45x10" } %>
                    <%= f.submit "Ingresar", class: "btn btn-xs btn-default" %>
                  <% end %>
            <% end %>
          </div>
      </ul>
  </div>
</nav>
